
html {
	background-color: #000000;
}


/*  --------------------  Boxes  --------------------  */


.top {
	display: block;
	margin: -30px auto;	
	max-height: 250px;
	max-width: 70%;
}

.footer {
	clear: both;
	text-align: center;
	padding: 100px 100px;
}

.footer img {
	width: 100px;
}

.cluster {
	width: 80%;
	margin: 0 auto;
}

.cluster-p {
	width: 80%;	
	height: 5500px;
	margin: 0 auto;
	background-color: #333333;
	font-family: 'helvetica' sans-serif;
	font-size: 1em;
	color: white;
}

/*  --------------------  Steady Content  --------------------  */


.content {
	height: 1100px;
	width: 80%;
	font-family: 'helvetica' sans-serif;
	font-size: 1em;
	color: white;
	background-color: #333333;
	float: right;
}

/*.content-p {
	height: 4000px;
	width: 100%;
	font-family: 'helvetica' sans-serif;
	font-size: 1em;
	color: white;
	background-color: #333333;
	float: right;
}*/

nav {
	list-style: none;
	padding: 11px 20px 10px 0px; 
	text-align: right;
}

nav li {
	display: inline;
	margin: 0 10px; 
}

nav a {
	color: #F15206;
	text-decoration: none;
}

nav a:hover {
	color: #F15206;
	text-decoration: underline;
}

nav a:visited {
	color: #F15206;
}

/*  --------------------  Side Bar  --------------------  */


.sidebar {
	height: 1100px;
	width: 18%;
	font-family: 'helvetica' sans-serif;
	background-color: #333333;
	text-align: center;
	float: left;
}

/*.sidebar-p {
	height: 4000px;
	width: 18%;
	font-family: 'helvetica' sans-serif;
	background-color: #333333;
	text-align: center;
	float: left;
}*/

.miniphoto {
	display: block;
	width: 80%;
	margin: 15px auto;
}

h1 {
	margin: 0;
	color: #F15206;
	font-size: 2.5vw;
}

.sideblurb {
	padding: 0px 20px 60px 20px;
	font-size: .9vw;
	color: gray;
}

.releases {
	color: #F15206;
	font-size: 1.2vw;
}

.minicover {
	display: block;
	width: 80%;
	max-width: 80%;
	margin: 15px auto;
}

.sidetitle {
	font-size: 1.3vw;
	color: white;
}

.sidedate {
	font-size: 1vw;
	color: gray;
	padding: 0 0 20px 0;
}

.links {
	padding: 75px 0 0 0;
	font-family: 'Courier New' serif;
}

.links a {
	font-size: 1vw;
	color: gray;
	text-decoration: underline;
}

.links a:hover {
	color: #F15206;
	text-decoration: underline;
}


/*  --------------------  Pages  --------------------  */


.mainblurb {
	padding: 50px;
	font-family: "Courier New" serif;
	font-size: .8em;
}

.faces {
	display: block;
	max-width: 60%;
	margin: 0 auto;
}

.album img {
	width: 45%;
	padding: 10px;
	float: left;
}

.albuminfo {
	padding-top: 10px;
	margin-left: 50%;
}

.albumdetails {
	color: gray;
	font-size: .7em;
	padding: 10px;
}

.albumdetails a {
	color: gray;
	text-decoration: underline;
}

.albumdetails a:hover {
	color: #F15206;
	text-decoration: underline;
}

.tracktime {
	font-size: .7em;
	color: gray;
}

.albumdescription {
	color: white;
	font-size: .8em;
	padding: 10px;
	clear: both;
}

.tammy {
	display: block;
	margin: 50px auto;
	max-width: 35%;
}

.player {
	border: 0;
	width: 80%;
	height: 208px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.reviewlink {
	margin: 40px auto;
	text-align: center;
}

.reviewlink a {
	color: #F15206;
	text-decoration: underline;
}

.reviewlink a:hover {
	color: #F15206;
	text-decoration: line-through;
}

.reviewlink a:visited {
	color: #F15206;
}

.sitting {
	display: block;
	margin: 0px auto;
	max-width: 45%;
}

.videotitles {
	margin: 60px 0 0 0;
	text-align: center;
	color: gray;
	font-size: 2vw;
}

.videoframe {
	display: block;
	margin: 0 auto 40px auto;
	max-width: 80%;
}



/*
--------------------------------------------------




#container1 {
    display: inline-block;
    position: relative;
    width: 49%;
    margin: 10px 0;
    float: left;
    clear: both;
}

#container2 {
    display: inline-block;
    position: relative;
    width: 49%;
    margin: 10px 0;
    float: right;
}
#dummy {
    margin-top: 100%;
}
#photobox {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333333;
}

#photobox img {
	display: block;
	max-height: 100%;
	max-width: 100%;
	margin: auto;

}


.photobox1 {
	width: 40%;
	height: same-as-width;
	border: 1px solid white;
	float: left;
	clear: both;
}

.photobox2 {
	width: same-as-hight; 
	height: 400px;
	border: 1px solid white;
	float: right;
}

.photobox1 img, .photobox2 img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: auto auto;
}

*/



.a03 {
	display: block;
	max-width: 80%;
	margin: 10px auto;
}

.a01 {
	display: block;
	max-width: 40%;
	margin: 0 0 100px 7%;
	float: left;
}

.a02 {
	display: block;
	max-width: 40%;
	margin: 0 7% 100px 0;
	float: right;
}

.b01, .b02, .b03 {
	display: block;
	max-width: 80%;
	clear: both;
	margin: 10px auto;
}

.c02 {
	display: block;
	max-width: 90%;
	clear: both;
	margin: 100px auto 10px auto;
}

.c03 {
	display: block;
	max-width: 90%;
	clear: both;
	margin: 10px auto;
}

.d02 {
	display: block;
	max-width: 60%;
	clear: both;
	margin: 100px auto 10px auto;
}

.d01 {
	display: block;
	max-width: 40%;
	margin: 0 0 100px 7%;
	float: left;
}

.d03 {
	display: block;
	max-width: 40%;
	margin: 0 7% 100px 0;
	float: right;
}




