
html {
	background-color: #000000;
}

.clearfix {
	clear: both;
}
/*  ----------------------------------------  Desktop  ----------------------------------------  */

@media only screen and (min-width: 768.0001px) {
/*  --------------------  Boxes  --------------------  */

.banner {
	width: 100%;
	z-index: -1;
	position: fixed;
	top: 0;
}

.top {
	position: relative;
	display: block;
	margin: -30px auto;	
	max-height: 250px;
	max-width: 70%;
}

.footer {
	clear: both;
	text-align: center;
	padding: 50px;
}

.footer img {
	width: 100px;
}

.cluster {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}




/*  --------------------  Steady Content  --------------------  */


.content {
	align-items: stretch;
	width: 80%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: white;
	background-color: rgba(51,51,51,.8);
    /*background: linear-gradient(rgba(51,51,51,.8)80%,  rgba(0,0,0,.0) 100% );*/
	float: right;
}

/*.content-p {
	height: 4000px;
	width: 100%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: white;
	background-color: #333333;
	float: right;
}*/

nav {
	list-style: none;
	padding: 20px 20px 10px 0px; 
	text-align: right;
}

nav li {
	display: inline;
	margin: 0 10px; 
}

nav a {
	color: #F15206;
	text-shadow: 0 0 0px #F3D182;
	text-decoration: none;
	-webkit-transition-duration: 500ms;
	-o-transition-duration: 500ms;
	transition-duration: 500ms;
}

nav a:hover {
	text-shadow: 0 0 15px #F3D182;
	color: #F3D182;
}

nav a:visited {
	text-shadow: 0 0 0px #F3D182;
	color: #F15206;
}

nav a:hover:visited {
	text-shadow: 0 0 15px #F3D182;
	color: #F3D182;
}

nav a:active {
	color: black;
}

nav a.current {
	text-shadow: 0 0 15px #F3D182;
	color: #F3D182;
}

/*  --------------------  Side Bar  --------------------  */


.sidebar {
	align-items: stretch;
	order: -1;
	width: 18%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align: center;
	float: left;
	background-color: rgba(51,51,51,.8);
    /*background: linear-gradient(rgba(51,51,51,.8)80%,  rgba(0,0,0,.0) 100% );*/
}

/*.sidebar-p {
	height: 4000px;
	width: 18%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #333333;
	text-align: center;
	float: left;
}*/

.miniphoto {
	display: block;
	width: 80%;
	margin: 15px auto;
}

.sidebar h1 {
	font-family: 'HelveticaNeue-CondensedBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
	color: #999;
	font-size: 2.5vw;
}

.sideblurb {
	padding: 0px 20px 60px 20px;
	font-size: .9vw;
	color: #999;
}

.releases {
	color: #F15206;
	font-size: 1.2vw;
}

.minicover {
	display: block;
	width: 80%;
	max-width: 80%;
	margin: 15px auto;
}

.sidetitle {
	letter-spacing: 4px;
	font-size: 1.3vw;
	color: white;
}

.sidedate {
	font-size: 1vw;
	color: #999;
	padding: 0 0 20px 0;
}

.links {
	padding: 75px 0;
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}
.l1 {
	padding-bottom: 20px;
}
.l2 {
	padding-bottom: 20px;
}
.l3 {
	padding-bottom: 20px;
}
.l4 {
	padding-bottom: 20px;
}

.links a {
	font-size: 1vw;
	color: #999;
	text-decoration: underline;
}

.links a:hover {
	color: #F15206;
	text-decoration: underline;
}


/*  --------------------  Pages  --------------------  */

div.headline {
	margin: 50px 0 0;
}
h1.headline {
	padding: 10px 0;
	margin: 10px 0;
}
.headline {
	font-family: 'HelveticaNeue-CondensedBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 2vw;
	letter-spacing: 4px;
	text-align: center;
	border-top: solid black 4px;
	border-bottom: solid black 4px;
}

.headline span {
	display: block;
	font-size: 4vw;
	letter-spacing: 8px;
}

.headline a {
	color: #F15206;
	text-shadow: 0 0 0px;
	text-decoration: none;
	-webkit-transition-duration: 300ms;
	-o-transition-duration: 300ms;
	transition-duration: 300ms;
}

.headline a:hover {
	text-shadow: 0 0 15px #F3D182;
	color: #F3D182;
	-webkit-transition-duration: 600ms;
	-o-transition-duration: 600ms;
	transition-duration: 600ms;
}

.headline a:visited {
	text-shadow: 0 0 0px #F3D182;
	color: #F15206;
}

.headline a:hover:visited {
	text-shadow: 0 0 15px #F3D182;
	color: #F3D182;
}

.headline a:active {
	color: black;
}

.headline a.current {
	text-shadow: 0 0 15px #F3D182;
	color: #F3D182;
}


.mainblurb {
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
	font-size: .8em;
	width: 100%;
	height: 350px;
	position: relative;
	/*background-color: rgba(61,61,61,.4);*/
}

.p1 {
	position: absolute;
	top: 50px;
	right: 50px;
	left: 50px;
}
.p2 {
	color: #454550;
	position: absolute;
	top: 54px;
	right: 58px;
	left: 42px;
}
.p3 {
	color: #454550;
	position: absolute;
	top: 40px;
	right: 45px;
	left: 55px;
}
.p4 {
	color: #454550;
	position: absolute;
	top: 65px;
	right: 65px;
	left: 35px;
}
.p5 {
	color: #454550;
	position: absolute;
	top: 60px;
	right: 25px;
	left: 75px;
}

.p2:hover,
.p3:hover,
.p4:hover,
.p5:hover {
	color: white;
}

.faces {
	display: block;
	max-width: 100%;
	margin: 20px auto;
	-webkit-transition-duration: 300ms;
	-o-transition-duration: 300ms;
	transition-duration: 300ms;
}

.faces:hover {
	background-color: black;
	-webkit-transition-duration: 30s;
	-o-transition-duration: 30s;
	transition-duration: 30s;
}

.album img {
	width: 45%;
	padding: 10px;
	float: left;
}

.albuminfo {
	padding-top: 10px;
	margin-left: 50%;
}

.albumdetails {
	color: #999;
	font-size: .7em;
	padding: 10px;
}

.albumdetails a {
	color: #999;
	text-decoration: underline;
}

.albumdetails a:hover {
	color: #F15206;
	text-decoration: underline;
}

.tracktime {
	font-size: .7em;
	color: #999;
}

.albumdescription {
	color: white;
	font-size: .8em;
	padding: 10px;
	clear: both;
}

.tammy {
	display: block;
	margin: 50px auto;
	max-width: 35%;
}

.player {
	border: 0;
	width: 80%;
	height: 208px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.reviewlink {
	margin: 40px auto;
	text-align: center;
}

.reviewlink a {
	color: #F15206;
	text-decoration: underline;
}

.reviewlink a:hover {
	color: #F15206;
	text-decoration: line-through;
}

.reviewlink a:visited {
	color: #F15206;
}

.sitting {
	display: block;
	margin: 0px auto;
	max-width: 45%;
}

.videotitles {
	margin: 60px 0 0 0;
	text-align: center;
	color: #999;
	font-size: 2vw;
}

.videoframe {
	display: block;
	margin: 0 auto 40px auto;
	max-width: 80%;
}




/*  --------------------  Photos  --------------------  */



.cluster-p {
	width: 80%;	
	margin: 0 auto;
	background-color: rgba(51,51,51,.8);
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: white;
}

.cluster-p img {
	width: 100%;
	border: solid black 4px;
	-webkit-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;

}

.cluster-p img:hover {
	border: solid white 4px;
}

.cluster-p img:active {
	opacity: .01;
}

.a03 {
	display: block;
	max-width: 80%;
	margin: 10px auto;
}

.a01 {
	display: block;
	max-width: 40%;
	margin: 0 0 100px 7%;
	float: left;
}

.a02 {
	display: block;
	max-width: 40%;
	margin: 0 7% 100px 0;
	float: right;
}

.b01, .b02, .b03 {
	display: block;
	max-width: 80%;
	clear: both;
	margin: 10px auto;
}

.d02 {
	display: block;
	max-width: 60%;
	clear: both;
	margin: 100px auto 10px auto;
}

.d01 {
	display: block;
	max-width: 40%;
	margin: 0 0 100px 7%;
	float: left;
}

.d03 {
	display: block;
	max-width: 40%;
	margin: 0 7% 100px 0;
	float: right;
}

.c02 {
	display: block;
	max-width: 90%;
	clear: both;
	margin: 0 auto 10px auto;
}

.c03 {
	display: block;
	max-width: 90%;
	clear: both;
	margin: 10px auto;
	padding-bottom: 40px;
} 





.show {
	width: 70%;
	margin: 50px auto 100px auto;
	border-top: solid grey 4px;
	border-left: solid grey 4px;
	border-right: solid grey 4px;
	text-align: center;
	font-size: 1.2vw;
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}
.date {
	font-size: 2vw;

}

.with {
	color: grey;
	margin-top: 10px;
}

.band {
	margin: 0 0 20px 0;
	letter-spacing: 5px;
	font-size: 1.8vw;
	font-weight: bold;
}
.band a {
	color: white;
}
.band a:hover {
	color: #F15206;
	text-decoration: underline;
}

.location {
}
.location a {
	font-size: 1.5vw;
	color: white;
}
.location a:hover {
	color: #F15206;
	text-decoration: underline;
}
.address {
	color: grey;
}

.event {
	font-size: 1.5vw;

}
.event a {
	color: white;
}
.event a:hover {
	color: #F15206;
	text-decoration: underline;
}


.time {
	font-weight: bold;
	font-size: 1.8vw;
	float: left;
	margin-left: -8px;
}
.price {
	font-weight: bold;
	font-size: 1.8vw;
	float: right;
	margin-right: -8px;
}



.release-show-cover {
	margin: 0 auto;
	width: 40%;
	border: solid black 3px;
}






/*  --------------------  Press  --------------------  */

.press {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	width: 85%;
	margin: 50px auto 50px auto;
	padding: 5px 0 0 5px;
}

.press-border {
	border-top: solid grey 2px;
	border-left: solid grey 2px;
}


.article {
	font-size: 16px;
}
.article a {
	color: white;
	text-decoration: none;
}
.article a:hover {
	/*color: #F3D182;*/
	text-decoration: underline;
}

.source {
	font-size: 12px;
	color: grey;
}
.source-big {
	font-size: 16px;
	color: grey;
}



.soundcloudframe {
	display: block;
	width: 60%;
	margin: 0px auto 20px;
}




















}

/*  ----------------------------------------  Mobile  ----------------------------------------  */
/*  ----------------------------------------  Mobile  ----------------------------------------  */
/*  ----------------------------------------  Mobile  ----------------------------------------  */
/*  ----------------------------------------  Mobile  ----------------------------------------  */
/*  ----------------------------------------  Mobile  ----------------------------------------  */
/*  ----------------------------------------  Mobile  ----------------------------------------  */

@media only screen and (max-width: 768px) {
/*  --------------------  Boxes  --------------------  */

.banner {
	width: 120%;
	z-index: -1;
	position: fixed;
	top: 0;
	margin-left: -10%;
}

.top {
	position: relative;
	display: block;
	margin: -20px auto;	
	max-height: 250px;
	max-width: 85%;
}

.footer {
	clear: both;
	text-align: center;
	padding: 50px 0 30px 0;
}

.footer img {
	width: 30%;
}

.cluster {
	width: 99%;
	margin: 0 auto;
}





/*  --------------------  Steady Content  --------------------  */


.content {
	width: 100%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: white;
	background-color: rgba(51,51,51,.8);
}

/*.content-p {
	height: 4000px;
	width: 100%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: white;
	background-color: #333333;
	float: right;
}*/

nav {
	font-size: 3.5vw;
	list-style: none;
	padding: 40px 0px 0px 0px; 
	text-align: center;
}
nav ul {
	padding: 0;
	margin: 0;
}
nav li {
	display: inline;
	margin: 0 10px; 
}

nav a {
	color: #F15206;
	text-decoration: none;
	-webkit-transition-duration: 500ms;
	-o-transition-duration: 500ms;
	transition-duration: 500ms;
}



/*nav a:visited {
	color: #F15206;
}*/

/*nav a:hover:visited {
	text-shadow: 0 0 15px;
	color: #F3D182;
}*/

/*nav a:active {
	color: black;
}*/

/*  --------------------  Side Bar  --------------------  */


.sidebar {
	width: 100%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: rgba(51,51,51,.8);
	text-align: center;
	margin-top: 20px;
	position: relative;
	overflow: hidden;
	border-top: solid black 1px;
	border-bottom: solid black 1px;
}

/*.sidebar-p {
	height: 4000px;
	width: 18%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #333333;
	text-align: center;
	float: left;
}*/

.miniphoto {	/*display: none;*/
	display: block;
	position: absolute;
	bottom: 0;
	z-index: -1;
	width: 100%;
	min-height: 100%;

}

.sidebar h1 {	display: none;
	margin: 0;
	color: white;
	font-size: 2.5vw;
}

.sideblurb {	display: none;
	padding: 0px 20px 60px 20px;
	font-size: .9vw;
	color: #999;
}

.releases {
	color: #F15206;
	font-size: 3vw;
	padding: 10px 0 5px 0;
}

.current {
	text-shadow: 0 0 15px;
	color: #F3D182;
}

.vicesblock {
	margin: 0px;
	max-width: 50%;
	display: inline-block;
}

.ghdblock {
	margin: 0px 0px 0px 10px;
	max-width: 50%;
	display: inline-block;
}

.minicover {
	width: 150px;

}

.sidetitle {
	font-size: 16px;
	color: white;
}

.sidedate {
	font-size: 14px;
	color: #999;
	padding: 0 0 20px 0;
}


.links {
	padding: 10px 0 20px 0;
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

.links a {
	font-size: 16px;
	color: #999;
	text-decoration: underline;
	text-shadow: 0 0 15px #000, 0 0 5px #000;
}
.l1 {
	display: inline-block;
	padding-right: 20px;
}
.l2 {
	display: inline-block;
	padding-left: 20px;
}
.l3 {
	margin-top: 25px;
}
.l4 {
	margin-top: 25px;
}


/*  --------------------  Pages  --------------------  */


div.headline {
	margin: 50px 0 0;
}
h1.headline {
	padding: 10px 0;
	margin: 10px 0;
}
.headline {
	font-family: 'HelveticaNeue-CondensedBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 4vw;
	letter-spacing: 1px;
	text-align: center;
	border-top: solid black 4px;
	border-bottom: solid black 4px;
}

.headline span {
	display: block;
	font-size: 9vw;
	letter-spacing: 6px;
}

.headline a {
	animation: drive 4s infinite;
	text-decoration: none;
}

.headline a:hover {
	color: #F3D182;
	text-decoration: underline;
}

.headline a:visited {
	color: #F15206;
}

.headline a:hover:visited {
	color: #F3D182;
}

.headline a:active {
	color: black;
}

.headline a.current {
	color: #F3D182;
}
  

@keyframes drive {
  0% {
    color: #F15206;
  }
  50% {
    color: #F3D182;
    text-shadow: 0 0 15px;
  }
  100% {
    color: #F15206;
  }
}

.mainblurb {
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
	font-size: .74em;
	width: 100%;
	height: 350px;
	position: relative;
	/*background-color: rgba(61,61,61,.4);*/
	overflow: hidden;
}

.p1 {
	text-align: center;
	position: absolute;
	top: 50px;
	right: 5px;
	left: 5px;
}
.p2 {
	text-align: center;
	color: #454550;
	position: absolute;
	top: 54px;
	right: 13px;
	left: -3px;
}
.p3 {
	text-align: center;
	color: #454550;
	position: absolute;
	top: 40px;
	right: 0px;
	left: 10px;
}
.p4 {
	text-align: center;
	color: #454550;
	position: absolute;
	top: 65px;
	right: 20px;
	left: -10px;
}
.p5 {
	text-align: center;
	color: #454550;
	position: absolute;
	top: 60px;
	right: -20px;
	left: 30px;
}

.faces {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.album img {
	width: 80%;
	padding: 30px 0 0 0;
	display: block;
	margin: 0 auto;
}

.albuminfo {
	padding-top: 10px;
	width: 80%;
	margin: 0 auto;
}
.albuminfo h2 {
	/*text-align: center;*/
}
.albuminfo ol {
	/*margin-left: 20%;*/
}

.albumdetails {
	width: 80%;
	margin: 0 auto;
	color: #999;
	font-size: .7em;
}

.albumdetails a {
	color: #999;
	text-decoration: underline;
}

.albumdetails a:hover {
	color: #F15206;
	text-decoration: underline;
}

.tracktime {
	font-size: .7em;
	color: #999;
}

.albumdescription {
	color: white;
	font-size: .8em;
	padding: 10px;
	clear: both;
}

.tammy {
	display: block;
	margin: 50px auto;
	max-width: 35%;
}

.player {
	border: 0;
	width: 80%;
	height: 208px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.reviewlink {
	margin: 40px auto;
	padding-bottom: 30px; 
	text-align: center;
}

.reviewlink a {
	color: #F15206;
	text-decoration: underline;
}

.reviewlink a:hover {
	color: #F15206;
	text-decoration: line-through;
}

.reviewlink a:visited {
	color: #F15206;
}

.sitting {
	display: block;
	margin: 40px auto;
	max-width: 80%;
	padding-bottom: 40px;
}

.videotitles {
	margin: 40px 0 0 0;
	text-align: center;
	color: #999;
	font-size: 4.5vw;
}

.videoframe {
	display: block;
	margin: 0 auto;
	max-width: 80%;
	padding-bottom: 40px;
}





/*  --------------------  Photos  --------------------  */


.cluster-p {
	width: 99%;	
	padding-bottom: 40px;
	margin: 0 auto;
	background-color: rgba(51,51,51,.8);
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: white;
}

.cluster-p img {
	width: 100%;
	border: solid black 4px;
}

.a03 {
	display: block;
	max-width: 90%;
	margin: 40px auto 10px auto;
}

.a01 {
	display: block;
	max-width: 40%;
	margin: 0 0 50px 5%;
	float: left;
}

.a02 {
	display: block;
	max-width: 40%;
	margin: 0 5% 50px 0;
	float: right;
}

.b01, .b02, .b03 {
	display: block;
	max-width: 90%;
	clear: both;
	margin: 10px auto;
}

.d02 {
	display: block;
	max-width: 70%;
	clear: both;
	margin: 50px auto 10px auto;
}

.d01 {
	display: block;
	max-width: 40%;
	margin: 0 0 50px 5%;
	float: left;
}

.d03 {
	display: block;
	max-width: 40%;
	margin: 0 5% 50px 0;
	float: right;
}

.c02 {
	display: block;
	max-width: 90%;
	clear: both;
	margin: 0 auto 10px auto;
}

.c03 {
	display: block;
	max-width: 90%;
	clear: both;
	margin: 10px auto;
	padding-bottom: 40px;
} 






.show {
	width: 90%;
	margin: 50px auto 100px auto;
	border-top: solid grey 4px;
	border-left: solid grey 4px;
	border-right: solid grey 4px;
	text-align: center;
	font-size: 5vw;
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}
.date {
	font-size: 6vw;

}

.with {
	color: grey;
	margin-top: 10px;
}

.band {
	margin: 0 0 20px 0;
	letter-spacing: 5px;
	font-size: 6vw;
	font-weight: bold;
}
.band a {
	color: white;
}
.band a:hover {
	color: #F15206;
	text-decoration: underline;
}

.location {
}
.location span {
	display: block;
}
.location a {
	font-size: 6vw;
	color: white;
}
.location a:hover {
	color: #F15206;
	text-decoration: underline;
}
.address {
	color: grey;
}

.event {
	font-size: 6vw;
	margin-top: 10px;
}
.event a {
	color: white;
}
.event a:hover {
	color: #F15206;
	text-decoration: underline;
}


.time {
	font-weight: bold;
	font-size: 6vw;
	float: left;
	margin-left: -8px;
}
.price {
	font-weight: bold;
	font-size: 6vw;
	float: right;
	margin-right: -8px;
}





.release-show-cover {
	margin: 0 auto;
	width: 90%;
	border: solid black 3px;
}




/*  --------------------  Press  --------------------  */

.press {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	width: 95%;
	max-width: 500px;
	margin: 40px auto 40px auto;
	padding: 5px 0 10px 5px;
}

.press-border {	
	border-top: solid grey 2px;
	border-left: solid grey 2px;
}


.article {
	font-size: 14px;
}
.article a {
	color: white;
	text-decoration: none;
}
.article a:hover {
	/*color: #F3D182;*/
	text-decoration: underline;
}

.source {
	font-size: 12px;
	color: grey;
}
.source-big {
	font-size: 14px;
	color: grey;
}



.soundcloudframe {
	display: block;
	width: 100%;
	margin: 0px auto 20px;
}










}


/*
	box-shadow: 3px 3px 5px 1px black;
*/