
html {
	background-color: #000000;
}


/*    Boxes    */


.top {
	display: block;
	margin: -30px auto;	
	max-height: 250px;
	max-width: 70%;
}

.footer {
	clear: both;
	text-align: center;
	padding: 100px 100px;
}

.footer img {
	width: 100px;
}

.cluster {
	width: 80%;
	margin: 0 auto;
}


/*    Steady Content    */


.content {
	height: 1100px;
	width: 80%;
	font-family: 'helvetica' sans-serif;
	font-size: 1em;
	color: white;
	background-color: #333333;
	float: right;
}

nav {
	list-style: none;
	padding: 11px 20px 10px 0px; 
	text-align: right;
}

nav li {
	display: inline;
	margin: 0 10px; 
}

nav a {
	color: #F15206;
	text-decoration: none;
}

nav a:hover {
	color: #F15206;
	text-decoration: underline;
}

nav a:visited {
	color: #F15206;
}

/*    Side Bar    */


.sidebar {
	height: 1100px;
	width: 18%;
	font-family: 'helvetica' sans-serif;
	background-color: #333333;
	text-align: center;
	float: left;
}

.miniphoto {
	display: block;
	width: 80%;
	margin: 15px auto;
}

h1 {
	margin: 0;
	color: #F15206;
	font-size: 2.5vw;
}

.sideblurb {
	padding: 0px 20px 20px 20px;
	font-size: .9vw;
	color: gray;
}

.minicover {
	padding: 20px 0 0px 0;
	display: block;
	width: 80%;
	max-width: 80%;
	margin: 15px auto;
}

.sidetitle {
	font-size: 1.3vw;
	color: white;
}

.sidedate {
	font-size: 1vw;
	color: gray;
}

.links {
	padding: 75px 0 0 0;
	font-family: 'Courier New' serif;
}

.links a {
	font-size: 1vw;
	color: gray;
	text-decoration: underline;
}

.links a:hover {
	color: #F15206;
	text-decoration: underline;
}


/*    Pages    */


.mainblurb {
	padding: 50px;
	font-family: "Courier New" serif;
	font-size: .8em;
}

.faces {
	display: block;
	max-width: 60%;
	margin: 0 auto;
}

.album img {
	width: 45%;
	padding: 10px;
	float: left;
}

.albuminfo {
	padding-top: 10px;
	margin-left: 50%;
}

.albumdetails {
	color: gray;
	font-size: .7em;
	padding: 10px;
}

.albumdetails a {
	color: gray;
	text-decoration: underline;
}

.albumdetails a:hover {
	color: #F15206;
	text-decoration: underline;
}

.tracktime {
	font-size: .7em;
	color: gray;
}

.albumdescription {
	color: white;
	font-size: .8em;
	padding: 10px;
	clear: both;
}

.tammy {
	display: block;
	margin: 50px auto;
	max-width: 35%;
}

.player {
	border: 0;
	width: 80%;
	height: 208px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.sitting {
	display: block;
	margin: 0px auto;
	max-width: 45%;
}




