
html {
	background-color: #000000;
}
/*  ----------------------------------------  Desktop  ----------------------------------------  */

@media (min-width: 650.0001px) {
/*  --------------------  Boxes  --------------------  */

.banner {
	width: 100%;
	z-index: -1;
	position: fixed;
	top: 0;
}

.top {
	display: block;
	margin: -30px auto;	
	max-height: 250px;
	max-width: 70%;
				transition-duration: 1s;
}

.top:hover {
	opacity: .01;
}

.footer {
	clear: both;
	text-align: center;
	padding: 100px 100px;
		transition-duration: 1s;
}

.footer img {
	width: 100px;
}
.footer:hover {
	opacity: .01;
}

.cluster {
	width: 80%;
	margin: 0 auto;
}




/*  --------------------  Steady Content  --------------------  */


.content {
	height: 1100px;
	width: 80%;
	font-family: 'helvetica' sans-serif;
	font-size: 1em;
	color: white;
	background-color: rgba(51,51,51,.8);
    /*background: linear-gradient(rgba(51,51,51,.8)80%,  rgba(0,0,0,.0) 100% );*/
	float: right;
}

/*.content-p {
	height: 4000px;
	width: 100%;
	font-family: 'helvetica' sans-serif;
	font-size: 1em;
	color: white;
	background-color: #333333;
	float: right;
}*/

nav {
	list-style: none;
	padding: 20px 20px 10px 0px; 
	text-align: right;
}

nav li {
	display: inline;
	margin: 0 10px; 
}

nav a {
	color: #F15206;
	text-decoration: none;
			transition-duration: .5s;
}

nav a:hover {
	text-shadow: 0 0 15px;
	color: #F3D182;
}

nav a:visited {
	color: #F15206;
}

nav a:hover:visited {
	text-shadow: 0 0 15px;
	color: #F3D182;
}

nav a:active {
	color: black;
}

/*  --------------------  Side Bar  --------------------  */


.sidebar {
	height: 1100px;
	width: 18%;
	font-family: 'helvetica' sans-serif;
	text-align: center;
	float: left;
	background-color: rgba(51,51,51,.8);
    /*background: linear-gradient(rgba(51,51,51,.8)80%,  rgba(0,0,0,.0) 100% );*/
}

/*.sidebar-p {
	height: 4000px;
	width: 18%;
	font-family: 'helvetica' sans-serif;
	background-color: #333333;
	text-align: center;
	float: left;
}*/

.miniphoto {
	display: block;
	width: 80%;
	margin: 15px auto;
}

h1 {
	margin: 0;
	color: #F15206;
	font-size: 2.5vw;
}

.sideblurb {
	padding: 0px 20px 60px 20px;
	font-size: .9vw;
	color: #999;
}

.releases {
	color: #F15206;
	font-size: 1.2vw;
}

.minicover {
	display: block;
	width: 80%;
	max-width: 80%;
	margin: 15px auto;
}

.sidetitle {
	font-size: 1.3vw;
	color: white;
}

.sidedate {
	font-size: 1vw;
	color: #999;
	padding: 0 0 20px 0;
}

.links {
	padding: 75px 0 0 0;
	font-family: 'Courier New' serif;
}
.l1 {
	padding-bottom: 20px;
}
.l2 {
	padding-bottom: 20px;
}
.l3 {
	padding-bottom: 20px;
}
.l4 {
	padding-bottom: 20px;
}

.links a {
	font-size: 1vw;
	color: #999;
	text-decoration: underline;
}

.links a:hover {
	color: #F15206;
	text-decoration: underline;
}


/*  --------------------  Pages  --------------------  */


.mainblurb {
	padding: 50px;
	font-family: "Courier New" serif;
	font-size: .8em;
}

.faces {
	display: block;
	max-width: 60%;
	margin: 20px auto;
			transition-duration: 5s;
}
.faces:hover {
	opacity: .05;
}

.album img {
	width: 45%;
	padding: 10px;
	float: left;
}

.albuminfo {
	padding-top: 10px;
	margin-left: 50%;
}

.albumdetails {
	color: #999;
	font-size: .7em;
	padding: 10px;
}

.albumdetails a {
	color: #999;
	text-decoration: underline;
}

.albumdetails a:hover {
	color: #F15206;
	text-decoration: underline;
}

.tracktime {
	font-size: .7em;
	color: #999;
}

.albumdescription {
	color: white;
	font-size: .8em;
	padding: 10px;
	clear: both;
}

.tammy {
	display: block;
	margin: 50px auto;
	max-width: 35%;
}

.player {
	border: 0;
	width: 80%;
	height: 208px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.reviewlink {
	margin: 40px auto;
	text-align: center;
}

.reviewlink a {
	color: #F15206;
	text-decoration: underline;
}

.reviewlink a:hover {
	color: #F15206;
	text-decoration: line-through;
}

.reviewlink a:visited {
	color: #F15206;
}

.sitting {
	display: block;
	margin: 0px auto;
	max-width: 45%;
}

.videotitles {
	margin: 60px 0 0 0;
	text-align: center;
	color: #999;
	font-size: 2vw;
}

.videoframe {
	display: block;
	margin: 0 auto 40px auto;
	max-width: 80%;
}




/*  --------------------  Photos  --------------------  */



.cluster-p {
	width: 80%;	
	margin: 0 auto;
	background-color: rgba(51,51,51,.8);
	font-family: 'helvetica' sans-serif;
	font-size: 1em;
	color: white;
}

.cluster-p img {
	width: 100%;
	border: solid black 4px;
				transition-duration: 1s;

}

.cluster-p img:hover {
	border: solid white 4px;
}

.cluster-p img:active {
	opacity: .01;
}

.a03 {
	display: block;
	max-width: 80%;
	margin: 10px auto;
}

.a01 {
	display: block;
	max-width: 40%;
	margin: 0 0 100px 7%;
	float: left;
}

.a02 {
	display: block;
	max-width: 40%;
	margin: 0 7% 100px 0;
	float: right;
}

.b01, .b02, .b03 {
	display: block;
	max-width: 80%;
	clear: both;
	margin: 10px auto;
}

.d02 {
	display: block;
	max-width: 60%;
	clear: both;
	margin: 100px auto 10px auto;
}

.d01 {
	display: block;
	max-width: 40%;
	margin: 0 0 100px 7%;
	float: left;
}

.d03 {
	display: block;
	max-width: 40%;
	margin: 0 7% 100px 0;
	float: right;
}

.c02 {
	display: block;
	max-width: 90%;
	clear: both;
	margin: 0 auto 10px auto;
}

.c03 {
	display: block;
	max-width: 90%;
	clear: both;
	margin: 10px auto;
	padding-bottom: 40px;
} 





.show {
	width: 70%;
	margin: 50px auto 100px auto;
	border-top: solid grey 4px;
	border-left: solid grey 4px;
	border-right: solid grey 4px;
	text-align: center;
	font-size: 1.2vw;
	font-family: 'Courier New' serif;
}
.date {
	font-size: 2vw;

}

.with {
	color: grey;
	margin-top: 10px;
}

.band {
	margin: 0 0 20px 0;
	letter-spacing: 5px;
	font-size: 1.8vw;
	font-weight: bold;
}
.band a {
	color: white;
}
.band a:hover {
	color: #F15206;
	text-decoration: underline;
}

.location {
}
.location a {
	font-size: 1.5vw;
	color: white;
}
.location a:hover {
	color: #F15206;
	text-decoration: underline;
}
.address {
	color: grey;
}

.event {
	font-size: 1.5vw;

}
.event a {
	color: white;
}
.event a:hover {
	color: #F15206;
	text-decoration: underline;
}


.time {
	font-weight: bold;
	font-size: 1.8vw;
	float: left;
	margin-left: -8px;
}
.price {
	font-weight: bold;
	font-size: 1.8vw;
	float: right;
	margin-right: -8px;
}






}

/*  ----------------------------------------  Mobile  ----------------------------------------  */
/*  ----------------------------------------  Mobile  ----------------------------------------  */
/*  ----------------------------------------  Mobile  ----------------------------------------  */
/*  ----------------------------------------  Mobile  ----------------------------------------  */
/*  ----------------------------------------  Mobile  ----------------------------------------  */
/*  ----------------------------------------  Mobile  ----------------------------------------  */

@media (max-width: 650px) {
/*  --------------------  Boxes  --------------------  */

.banner {
	width: 120%;
	z-index: -1;
	position: fixed;
	top: 0;
	margin-left: -10%;
}

.top {
	display: block;
	margin: -20px auto;	
	max-height: 250px;
	max-width: 85%;
				transition-duration: 1s;
}

.top:hover {
	opacity: .01;
}

.footer {
	clear: both;
	text-align: center;
	padding: 50px 0 30px 0;
		transition-duration: 1s;
}

.footer img {
	width: 50%;
}
.footer:hover {
	opacity: .01;
}

.cluster {
	width: 99%;
	margin: 0 auto;
}





/*  --------------------  Steady Content  --------------------  */


.content {
	width: 100%;
	font-family: 'helvetica' sans-serif;
	font-size: 1em;
	color: white;
	background-color: rgba(51,51,51,.8);
}

/*.content-p {
	height: 4000px;
	width: 100%;
	font-family: 'helvetica' sans-serif;
	font-size: 1em;
	color: white;
	background-color: #333333;
	float: right;
}*/

nav {
	font-size: 3.5vw;
	list-style: none;
	padding: 40px 0px 0px 0px; 
	text-align: center;
}
nav ul {
	padding: 0;
	margin: 0;
}
nav li {
	display: inline;
	margin: 0 10px; 
}

nav a {
	color: #F15206;
	text-decoration: none;
			transition-duration: .5s;
}



/*nav a:visited {
	color: #F15206;
}*/

/*nav a:hover:visited {
	text-shadow: 0 0 15px;
	color: #F3D182;
}*/

/*nav a:active {
	color: black;
}*/

/*  --------------------  Side Bar  --------------------  */


.sidebar {
	width: 100%;
	font-family: 'helvetica' sans-serif;
	background-color: rgba(51,51,51,.8);
	text-align: center;
	margin-top: 20px;
	position: relative;
	overflow: hidden;
	border-top: solid black 1px;
	border-bottom: solid black 1px;
}

/*.sidebar-p {
	height: 4000px;
	width: 18%;
	font-family: 'helvetica' sans-serif;
	background-color: #333333;
	text-align: center;
	float: left;
}*/

.miniphoto {	/*display: none;*/
	display: block;
	position: absolute;
	bottom: 0;
	z-index: -1;
	width: 100%;
	min-height: 100%;

}

h1 {	display: none;
	margin: 0;
	color: #F15206;
	font-size: 2.5vw;
}

.sideblurb {	display: none;
	padding: 0px 20px 60px 20px;
	font-size: .9vw;
	color: #999;
}

.releases {
	color: #F15206;
	font-size: 3vw;
	padding: 10px 0 5px 0;
}

.current {
	text-shadow: 0 0 15px;
	color: #F3D182;
}

.vicesblock {
	margin: 0px;
	max-width: 50%;
	display: inline-block;
}

.ghdblock {
	margin: 0px 0px 0px 10px;
	max-width: 50%;
	display: inline-block;
}

.minicover {
	width: 150px;

}

.sidetitle {
	font-size: 4vw;
	color: white;
}

.sidedate {
	font-size: 3.5vw;
	color: #999;
	padding: 0 0 20px 0;
}


.links {
	padding: 10px 0 20px 0;
	font-family: 'Courier New' serif;
}

.links a {
	font-size: 4.5vw;
	color: #999;
	text-decoration: underline;
	text-shadow: 0 0 15px #000, 0 0 5px #000;
}
.l1 {
	display: inline-block;
	padding-right: 20px;
}
.l2 {
	display: inline-block;
	padding-left: 20px;
}
.l3 {
	margin-top: 25px;
}
.l4 {
	margin-top: 25px;
}


/*  --------------------  Pages  --------------------  */


.mainblurb {
	padding: 10px 5px 0px 5px;
	font-family: "Courier New" serif;
	font-size: .74em;
	text-align: center;
}

.faces {
	display: block;
	max-width: 80%;
	margin: 0 auto;
	padding-bottom: 15px;
			transition-duration: 5s;
}
.faces:hover {
	opacity: .05;
}

.album img {
	width: 80%;
	padding: 30px 0 0 0;
	display: block;
	margin: 0 auto;
}

.albuminfo {
	padding-top: 10px;
	width: 80%;
	margin: 0 auto;
}
.albuminfo h2 {
	/*text-align: center;*/
}
.albuminfo ol {
	/*margin-left: 20%;*/
}

.albumdetails {
	width: 80%;
	margin: 0 auto;
	color: #999;
	font-size: .7em;
}

.albumdetails a {
	color: #999;
	text-decoration: underline;
}

.albumdetails a:hover {
	color: #F15206;
	text-decoration: underline;
}

.tracktime {
	font-size: .7em;
	color: #999;
}

.albumdescription {
	color: white;
	font-size: .8em;
	padding: 10px;
	clear: both;
}

.tammy {
	display: block;
	margin: 50px auto;
	max-width: 35%;
}

.player {
	border: 0;
	width: 80%;
	height: 208px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.reviewlink {
	margin: 40px auto;
	padding-bottom: 30px; 
	text-align: center;
}

.reviewlink a {
	color: #F15206;
	text-decoration: underline;
}

.reviewlink a:hover {
	color: #F15206;
	text-decoration: line-through;
}

.reviewlink a:visited {
	color: #F15206;
}

.sitting {
	display: block;
	margin: 40px auto;
	max-width: 80%;
	padding-bottom: 40px;
}

.videotitles {
	margin: 40px 0 0 0;
	text-align: center;
	color: #999;
	font-size: 4.5vw;
}

.videoframe {
	display: block;
	margin: 0 auto;
	max-width: 80%;
	padding-bottom: 40px;
}





/*  --------------------  Photos  --------------------  */


.cluster-p {
	width: 99%;	
	padding-bottom: 40px;
	margin: 0 auto;
	background-color: rgba(51,51,51,.8);
	font-family: 'helvetica' sans-serif;
	font-size: 1em;
	color: white;
}

.cluster-p img {
	width: 100%;
	border: solid black 4px;
}

.a03 {
	display: block;
	max-width: 90%;
	margin: 40px auto 10px auto;
}

.a01 {
	display: block;
	max-width: 40%;
	margin: 0 0 50px 5%;
	float: left;
}

.a02 {
	display: block;
	max-width: 40%;
	margin: 0 5% 50px 0;
	float: right;
}

.b01, .b02, .b03 {
	display: block;
	max-width: 90%;
	clear: both;
	margin: 10px auto;
}

.d02 {
	display: block;
	max-width: 70%;
	clear: both;
	margin: 50px auto 10px auto;
}

.d01 {
	display: block;
	max-width: 40%;
	margin: 0 0 50px 5%;
	float: left;
}

.d03 {
	display: block;
	max-width: 40%;
	margin: 0 5% 50px 0;
	float: right;
}

.c02 {
	display: block;
	max-width: 90%;
	clear: both;
	margin: 0 auto 10px auto;
}

.c03 {
	display: block;
	max-width: 90%;
	clear: both;
	margin: 10px auto;
	padding-bottom: 40px;
} 






.show {
	width: 90%;
	margin: 50px auto 100px auto;
	border-top: solid grey 4px;
	border-left: solid grey 4px;
	border-right: solid grey 4px;
	text-align: center;
	font-size: 5vw;
	font-family: 'Courier New' serif;
}
.date {
	font-size: 6vw;

}

.with {
	color: grey;
	margin-top: 10px;
}

.band {
	margin: 0 0 20px 0;
	letter-spacing: 5px;
	font-size: 6vw;
	font-weight: bold;
}
.band a {
	color: white;
}
.band a:hover {
	color: #F15206;
	text-decoration: underline;
}

.location {
}
.location span {
	display: block;
}
.location a {
	font-size: 6vw;
	color: white;
}
.location a:hover {
	color: #F15206;
	text-decoration: underline;
}
.address {
	color: grey;
}

.event {
	font-size: 6vw;
	margin-top: 10px;
}
.event a {
	color: white;
}
.event a:hover {
	color: #F15206;
	text-decoration: underline;
}


.time {
	font-weight: bold;
	font-size: 6vw;
	float: left;
	margin-left: -8px;
}
.price {
	font-weight: bold;
	font-size: 6vw;
	float: right;
	margin-right: -8px;
}





}


/*
	box-shadow: 3px 3px 5px 1px black;
*/